USE [master]
GO
/****** Object:  Database [PetShop]    Script Date: 12/25/2014 13:34:23 ******/
CREATE DATABASE [PetShop] ON  PRIMARY 
( NAME = N'PetShop', FILENAME = N'E:\PetShop.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PetShop_log', FILENAME = N'E:\PetShop_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetShop]
GO
/****** Object:  Table [dbo].[PETSTORE]    Script Date: 12/25/2014 13:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PETSTORE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](10) NULL,
	[PASSWORD] [nchar](10) NULL,
	[BALANCE] [int] NULL,
 CONSTRAINT [PK_PETSTORE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PETSTORE] ON
INSERT [dbo].[PETSTORE] ([ID], [NAME], [PASSWORD], [BALANCE]) VALUES (1, N'北京信息中心    ', N'123456    ', 624)
INSERT [dbo].[PETSTORE] ([ID], [NAME], [PASSWORD], [BALANCE]) VALUES (2, N'重庆观音桥     ', N'123456    ', 800)
SET IDENTITY_INSERT [dbo].[PETSTORE] OFF
/****** Object:  Table [dbo].[PETOWNER]    Script Date: 12/25/2014 13:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PETOWNER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](10) NULL,
	[PASSWORD] [nchar](10) NULL,
	[MONEY] [int] NULL,
 CONSTRAINT [PK_PETOWNER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PETOWNER] ON
INSERT [dbo].[PETOWNER] ([ID], [NAME], [PASSWORD], [MONEY]) VALUES (1, N'小明        ', N'123456    ', 178)
INSERT [dbo].[PETOWNER] ([ID], [NAME], [PASSWORD], [MONEY]) VALUES (2, N'小强        ', N'123456    ', 498)
SET IDENTITY_INSERT [dbo].[PETOWNER] OFF
/****** Object:  Table [dbo].[PET]    Script Date: 12/25/2014 13:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](10) NOT NULL,
	[TYPENAME] [nchar](10) NULL,
	[HEALTH] [int] NULL,
	[LOVE] [int] NULL,
	[BIRTHDAY] [date] NULL,
	[OWNER_ID] [int] NULL,
	[STORE_ID] [int] NULL,
 CONSTRAINT [PK_PET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PET] ON
INSERT [dbo].[PET] ([ID], [NAME], [TYPENAME], [HEALTH], [LOVE], [BIRTHDAY], [OWNER_ID], [STORE_ID]) VALUES (1, N'花花        ', N'dog       ', 1, 50, CAST(0x6C320B00 AS Date), 1, 1)
INSERT [dbo].[PET] ([ID], [NAME], [TYPENAME], [HEALTH], [LOVE], [BIRTHDAY], [OWNER_ID], [STORE_ID]) VALUES (2, N'贝贝        ', N'penguin   ', 1, 60, CAST(0xBA310B00 AS Date), NULL, 2)
INSERT [dbo].[PET] ([ID], [NAME], [TYPENAME], [HEALTH], [LOVE], [BIRTHDAY], [OWNER_ID], [STORE_ID]) VALUES (3, N'成成        ', N'dog       ', 1, 60, CAST(0x89320B00 AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[PET] OFF
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/25/2014 13:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DEAL_TYPE] [int] NULL,
	[PET_ID] [int] NULL,
	[SELLER_ID] [int] NULL,
	[BUYER_ID] [int] NULL,
	[PRICE] [int] NULL,
	[DEAL_TIME] [date] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON
INSERT [dbo].[ACCOUNT] ([ID], [DEAL_TYPE], [PET_ID], [SELLER_ID], [BUYER_ID], [PRICE], [DEAL_TIME]) VALUES (2, 1, 4, 1, 1, 5, CAST(0xBC320B00 AS Date))
INSERT [dbo].[ACCOUNT] ([ID], [DEAL_TYPE], [PET_ID], [SELLER_ID], [BUYER_ID], [PRICE], [DEAL_TIME]) VALUES (3, 1, 3, 1, 1, 5, CAST(0xBC320B00 AS Date))
INSERT [dbo].[ACCOUNT] ([ID], [DEAL_TYPE], [PET_ID], [SELLER_ID], [BUYER_ID], [PRICE], [DEAL_TIME]) VALUES (4, 1, 3, 1, 1, 5, CAST(0xBC320B00 AS Date))
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
/****** Object:  ForeignKey [FK_PET_PETOWNER]    Script Date: 12/25/2014 13:34:25 ******/
ALTER TABLE [dbo].[PET]  WITH CHECK ADD  CONSTRAINT [FK_PET_PETOWNER] FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[PETOWNER] ([ID])
GO
ALTER TABLE [dbo].[PET] CHECK CONSTRAINT [FK_PET_PETOWNER]
GO
/****** Object:  ForeignKey [FK_PET_PETSTORE]    Script Date: 12/25/2014 13:34:25 ******/
ALTER TABLE [dbo].[PET]  WITH CHECK ADD  CONSTRAINT [FK_PET_PETSTORE] FOREIGN KEY([STORE_ID])
REFERENCES [dbo].[PETSTORE] ([ID])
GO
ALTER TABLE [dbo].[PET] CHECK CONSTRAINT [FK_PET_PETSTORE]
GO
/****** Object:  ForeignKey [FK_ACCOUNT_PET]    Script Date: 12/25/2014 13:34:25 ******/
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_PET] FOREIGN KEY([PET_ID])
REFERENCES [dbo].[PET] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_PET]
GO
/****** Object:  ForeignKey [FK_ACCOUNT_PETOWNER]    Script Date: 12/25/2014 13:34:25 ******/
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_PETOWNER] FOREIGN KEY([SELLER_ID])
REFERENCES [dbo].[PETOWNER] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_PETOWNER]
GO
