@{
    ViewBag.Title = "付款";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <fieldset>
            <legend>我要付款</legend>
            <div class="editor-label">
                对方支付宝账号
            </div>
            <div class="editor-field">
                @Html.TextBox("Account")
            </div>
            <div class="editor-label">
                付款金额
            </div>
            <div class="editor-field">
                @Html.TextBox("Amount")
            </div>
            <div class="editor-label">
                付款说明
            </div>
            <div class="editor-field">
                @Html.TextBox("Desc")
            </div>
            <p>
                <input type="submit" value="确定" />
            </p>
        </fieldset>
    </div>
}