<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    注意: 应在 App.config 文件中添加条目，以获取仅适用于
    测试项目的配置设置。
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="FriendsEntities" connectionString="metadata=res://*/Friends.csdl|res://*/Friends.ssdl|res://*/Friends.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TANG;initial catalog=Friends;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
