<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <add name="BookShop" connectionString="Data Source=Jackzhu;Initial Catalog=BookShop;Integrated Security=True;Min Pool Size=0;Max Pool Size=4;Connect Timeout=10"/>
    </connectionStrings>
</configuration>
