
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/style.css" rel="stylesheet" />
<div align="center">
    <div>
        <h3>
            青鸟留言板
        </h3>
    </div>
    &nbsp;
    <div>
        <div id="admin">
            管理员：<input name="txtAdmin" type="text" id="txtAdmin" style="width:100px;" />
            密码：<input name="txtPassword" type="password" id="txtPassword" style="width: 100px;" />
            <img src="~/App_Code/VerifyCode.ashx" alt="看不清？点击更换" onclick="this.src=this.src+'?'" style="width: 121px; height: 29px" />
            <input name="txtValidCode" type="text" id="txtValidCode" style="width: 70px;" />
            <input type="button" value="登 录" id="btnLogIn" />
        </div>
        <div id="messageContainer">
            <div class="t">
                <div class="tt">
                    <div class="tt1">
                        <img src="~/Images/face/face1.gif" />
                        &nbsp;作者：accp
                    </div>
                    <div align="right">
                        <a href='mailto:wei.qiao@prd.com'>
                            <img alt="qwe" src="~/Images/ico_email.gif" />
                        </a> &nbsp; <a href='www.sohu.com' target="_blank">
                            <img alt="qwe" src="~/Images/website.gif" />
                        </a>
                    </div>
                </div>
                <div>
                    <div class="tt2">
                        <img src="~/Images/face/1.gif" />
                    </div>
                    <div class="tt3">
                        <div align="left" class="tt4">
                            大家好
                        </div>
                        <div class="gray" align="right">
                            1# 发表：2007-8-1 12:12:12&nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <div class='t'>
                <div class='tt'>
                    <div class='tt1'>
                        <img src='~/Images/face/face1.gif' />
                        &nbsp;作者：jbns
                    </div>
                    <div align='right'>
                        <a href='mailto:wei.qiao@prd.com'>
                            <img src='~/Images/ico_email.gif' />
                        </a> &nbsp; <a href='www.sohu.com' target='_blank'>
                            <img alt='qwe' src='~/Images/website.gif' />
                        </a>
                    </div>
                </div>
                <div>
                    <div class='tt2'>
                        <img src='~/Images/face/5.gif' />
                    </div>
                    <div class='tt3'>
                        <div align='left' class='tt4'>
                            很高兴见到各位
                        </div>
                        <div class='gray' align='right'>
                            2# 发表：2007-8-1 16:12:12&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 800px; clear: both; border-bottom: #999999 1px solid;" align="right">
            <input type="button" name="btnPre" value="上一页" id="btnPre" class="btn1" />
            <input type="button" name="btnNext" value="下一页" id="btnNext" class="btn1" />
        </div>
        <div style="width: 800px" align="left">
            <div style="width: 300px; position: relative; float: left">
                &nbsp;
                <div>
                    用 户 名
                </div>
                <div style="position: relative; left: 100px; top: -18px; width: 200px;">
                    <input name="txtUserName" type="text" value="请输入您的名字" id="txtUserName" class="gray input" />
                </div>
                <div>
                    请选择头像
                </div>
                <div style="position: relative; left: 100px; top: -18px; width: 200px;">
                    <select id="ddlHeader">
                        <option value="~/Images/face/1.gif">头相1</option>
                        <option value="~/Images/face/2.gif">头相2</option>
                        <option value="~/Images/face/3.gif">头相3</option>
                        <option value="~/Images/face/4.gif">头相4</option>
                        <option value="~/Images/face/5.gif">头相5</option>
                        <option value="~/Images/face/6.gif">头相6</option>
                        <option value="~/Images/face/7.gif">头相7</option>
                        <option value="~/Images/face/8.gif">头相8</option>
                        <option value="~/Images/face/9.gif">头相9</option>
                        <option value="~/Images/face/10.gif">头相10</option>
                        <option value="~/Images/face/11.gif">头相11</option>
                        <option value="~/Images/face/12.gif">头相12</option>
                        <option value="~/Images/face/13.gif">头相13</option>
                        <option value="~/Images/face/14.gif">头相14</option>
                        <option value="~/Images/face/15.gif">头相15</option>
                        <option value="~/Images/face/16.gif">头相16</option>
                        <option value="~/Images/face/17.gif">头相17</option>
                        <option value="~/Images/face/18.gif">头相18</option>
                        <option value="~/Images/face/19.gif">头相19</option>
                        <option value="~/Images/face/20.gif">头相20</option>
                    </select>
                </div>
                <div>
                    Email
                </div>
                <div style="position: relative; left: 100px; top: -18px; width: 200px;">
                    <input id="txtEmail" type="text" value="请输入您的Email" id="Text1" class="gray input" />
                </div>
                <div>
                    个人网站
                </div>
                <div style="position: relative; left: 100px; top: -18px; width: 200px;">
                    <input id="txtWebSite" type="text" value="请输入您的网站" id="Text2" class="gray input" />
                </div>
            </div>
            <div id="divHeader" style="padding-top: 30px;">
                <img id="imgHeader" alt="" />
            </div>
            <div style="clear: both">
                <div>
                    表情
                </div>
                <div style="position: relative; left: 100px; top: -18px">
                    <input id="Radio1" type="radio" name="a1" value="Radio1" />
                    <img src="~/Images/face/face1.gif" /><input id="Radio2" type="radio" name="a1" value="Radio2" />
                    <img src="~/Images/face/face2.gif" /><input id="Radio3" type="radio" name="a1" value="Radio3" />
                    <img src="~/Images/face/face3.gif" /><input id="Radio4" type="radio" name="a1" value="Radio4" />
                    <img src="~/Images/face/face4.gif" /><input id="Radio5" type="radio" name="a1" value="Radio5" />
                    <img src="~/Images/face/face5.gif" /><input id="Radio6" type="radio" name="a1" value="Radio6" />
                    <img src="~/Images/face/face6.gif" /><input id="Radio7" type="radio" name="a1" value="Radio7" />
                    <img src="~/Images/face/face7.gif" /><input id="Radio8" type="radio" name="a1" value="Radio8" />
                    <img src="~/Images/face/face8.gif" /><input id="Radio9" type="radio" name="a1" value="Radio9" />
                    <img src="~/Images/face/face9.gif" /><input id="Radio10" type="radio" name="a1" value="Radio10" />
                    <img src="~/Images/face/face10.gif" /><br />
                    <input id="Radio11" type="radio" name="a1" value="Radio11" />
                    <img src="~/Images/face/face11.gif" /><input id="Radio12" type="radio" name="a1" value="Radio12" />
                    <img src="~/Images/face/face12.gif" /><input id="Radio13" type="radio" name="a1" value="Radio13" />
                    <img src="~/Images/face/face13.gif" /><input id="Radio14" type="radio" name="a1" value="Radio14" />
                    <img src="~/Images/face/face14.gif" /><input id="Radio15" type="radio" name="a1" value="Radio15" />
                    <img src="~/Images/face/face15.gif" /><input id="Radio16" type="radio" name="a1" value="Radio16" />
                    <img src="~/Images/face/face16.gif" /><input id="Radio17" type="radio" name="a1" value="Radio17"
                                                               checked="checked" />
                    <img src="~/Images/face/face17.gif" /><input id="Radio18" type="radio" name="a1" value="Radio18" />
                    <img src="~/Images/face/face18.gif" /><input id="Radio19" type="radio" name="a1" value="Radio19" />
                    <img src="~/Images/face/face19.gif" /><input id="Radio20" type="radio" name="a1" value="Radio20" />
                    <img src="~/Images/face/face20.gif" />
                </div>
                <div>
                    留言信息
                </div>
                <div style="position: relative; left: 100px; top: -18px">
                    &nbsp;<textarea name="txtMessage" rows="5" cols="55" id="txtMessage" style="height: 131px;
                            width: 444px;"></textarea>
                    &nbsp;
                </div>
                <div align="center" style="position: relative; left: -50px; width: 500px">
                    <input type="button" value="提交" id="btnSubmit" class="btn" style="width: 69px;" />
                    &nbsp;&nbsp;
                    <input type="checkbox" id="chkIsHide" />悄悄话
                </div>
            </div>
        </div>
    </div>
</div>

