@charset "gb2312";
/* CSS Document 2013-7-2*/
body,div,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,button,input,textarea,th,td{margin:0px;padding:0px;}
.button {height:27px; width:80px; text-align:center; line-height:23px; padding:0px 2px 2px 2px}
body{font-family: "宋体"; font-size:12px; line-height:25px;}
img{border:none;}
ul,li{list-style:none;}

/*登录页面样式*/
.loginBg{background:#ffffff url(../images/bg-01.jpg) repeat-x;}
#login{width:1000px; margin:0px auto; overflow:hidden;}
#login .loginL{float:left; width:222px; background:url(../images/bg-02.jpg) repeat-y; overflow:hidden; border-bottom:1px #d6d8d9 solid; height:600px;}
#login .loginL ul{width:190px; margin:0px auto; overflow:hidden; clear:both;}
#login .loginL ul li{padding-bottom:15px; clear:both;}
#login .loginL ul .userInput{background:url(../images/icon-01.jpg) 0px 0px no-repeat; width:158px; height:36px; border:0px; font-size:14px; color:#888888; padding-left:32px; line-height:36px;}
#login .loginL ul .keyInput{background:url(../images/icon-02.jpg) 0px 0px no-repeat; width:158px; height:36px; border:0px; font-size:14px; color:#888888; padding-left:32px; line-height:36px;}
#login .loginL ul a{color:#005eac; text-decoration:none; float:right;}
#login .loginL ul hr{color:#cfd0d2; height:1px; overflow:hidden;}

#login .loginR{ height:600px; background:url(../images/bird-02.jpg) 0px 86px no-repeat; widows:778px; overflow:hidden;}
#login .loginR .top{clear:both; padding:25px 0px 0px 60px; height:115px; overflow:hidden;}
#login .loginR .top dt{float:left;}
#login .loginR .top dd{text-align:right; color:#b9cbe2; font-size:14px;}
#login .loginR .top dd a{text-decoration:none; color:#ffffff; line-height:30px;}
#login .loginR .textImg dt{float:left;font-size:14px; padding-left:65px;}
#login .loginR .textImg dd{font-size:14px; padding:0px 60px 0px 10px; float:left; width:490px;}
/*注册页面样式*/
#register{width:1000px; margin:0px auto; overflow:hidden;}
#register #registerTop{clear:both; height:100px; overflow:hidden;}
#register #registerTop li{float:left; }
#register #registerTop .first{padding-top:4px;}
#register #registerTop .second{font-size:18px; color:#4fa6ff; font-family:"微软雅黑"; line-height:100px; padding-left:50px;}
#register #registerTop .third{float:right; color:#b9cbe2; font-size:14px; line-height:100px; padding-right:50px;}
#register #registerTop a{text-decoration:none; color:#FFF;}
#register .regList{background:url(../images/bird-06.jpg) right bottom no-repeat; padding:10px 0px 0px 0px;font-size:14px; line-height:41px;}
#register .regList p{color:#155aa4;font-size:18px;font-family:"微软雅黑"; line-height:50px; padding-left:50px;}
#register .regList dl{clear:both; overflow:hidden; padding-top:10px;}
#register .regList dt{float:left; width:110px; text-align:right; padding-right:10px;}
#register .regList .textInputBig{background:url(../images/icon-03.jpg) 0px 0px no-repeat; width:255px; height:41px; line-height:41px; border:0px;}
#register .regList .textInputSmall{background:url(../images/icon-04.jpg) 0px 0px no-repeat; width:105px; height:41px; line-height:41px; border:0px; float:left;}
#register .regList dd p{ width:120px; text-align:center; float:left;}
#register .regList dd p img{vertical-align:middle;}
#register .regList dd p a{font-size:12px; color:#165aa5; text-decoration:none;}
#register .regList select{padding:5px 0px;}
#register .regList span{ color:#7b7b7b; font-size:12px;}
#register .regList .btnSubmit{background:url(../images/bg-05.jpg) 0px 0px no-repeat; width:213px; height:43px; border:0px; cursor:pointer; padding-bottom:30px;}
/*好友页面样式*/ 
.headerBg{background:#f9f9f9 url(../images/bg-06.jpg) repeat-x;}
#header{width:1000px; height:39px; margin:0px auto; overflow:hidden;}
#header ul{float:left; height:38px;overflow:hidden;}
#header li{float:left; line-height:38px;}
#header ul li a{color:#FFF; text-decoration:none; font-size:14px; font-weight:bold; padding:0px 20px;}
#header ol{float:right; padding-right:10px; color:#ffffff; height:38px; overflow:hidden;}
#header ol .second{border:1px #F00 solid; background-color:#f3f3f3; width:200px; height:21px; margin:8px 10px 0px 10px; display:inline; overflow:hidden; line-height:0px;}
#header ol .second input{float:left;}
#header ol .third img{*padding-top:12px;}
#header ol .third a {color: white;text-decoration:none}
#header ol .texts{width:175px; height:21px;color:#cccccc; border:0px; border-right:1px #dfdfdf solid; line-height:21px;}
#header ol .searchFriend{background:url(../images/icon-05.jpg) 0px 0px no-repeat; width:24px; height:23px; cursor:pointer; border:0px; vertical-align:top;}

#content{width:1000px; margin:0px auto; overflow:hidden; background-color:#fdfdfd;}
.friendLeft{width:238px; float:left; overflow:hidden;}
.headPortrait{padding:20px 10px 25px 10px; clear:both; border-bottom:1px #eeeeee solid; width:218px; overflow:hidden;}
.headPortrait dt{float:left;}
.headPortrait dd{float:left; padding:10px 0px 0px 10px;}
.headPortrait dd a{text-decoration:none; font-size:14px; color:#336699;font-family:"微软雅黑"; font-weight:bold;}
.iconLink{padding:5px 0px 0px 30px;border-bottom:1px #eeeeee solid;}
.iconLink a{padding-right:5px;}
.iconList{padding:10px 0px 10px 30px;}
.iconList dl{clear:both; width:100%; overflow:hidden; height:30px; overflow:hidden; line-height:30px;}
.iconList dl a{text-decoration:none;}
.iconList dl dt{float:left; width:90px; background:url(../images/icon-09.jpg) no-repeat; padding-left:26px;}
.iconList dl dt a{color:#000;}
.iconList dl dd a{color:#d8dfea;}
.iconList dl .icon01{background-position:0px 5px;}
.iconList dl .icon02{background-position:0px -28px;}
.iconList dl .icon03{background-position:0px -63px;}
.iconList dl .icon04{background-position:0px -94px;}
.groupTitle{ background-color:#f5f5f5;border-top:1px #ebebeb solid; width:100%; overflow:hidden; height:22px;}
.groupTitle dt{float:left; line-height:22px; color:#336699; font-weight:bold; padding-left:30px;}
.groupTitle dd{color:#d9dce2; float:right; line-height:22px; padding-right:30px; font-size:14px; font-weight:bold;}
.groupList{padding:10px 0px 0px 30px; line-height:28px;}
.groupList a{text-decoration:none;color:#336699;}
.friendRight{float:right; width:760px; border-left:1px #d9dce2 solid;border-right:1px #d9dce2 solid; overflow:hidden;}
.friendHeader{width:700px; margin:0px auto; height:40px; padding-top:30px; overflow:hidden; border-bottom:1px #d9dce2 solid;}
.iconBg{background:url(../images/icon-01.gif) no-repeat;}
.friendHeader dt{background-position:20px -5px; font-size:14px; font-weight:bold; float:left; padding-left:55px; line-height:30px;}
.friendHeader dd{float:right; padding-right:20px; line-height:30px;}
.friendHeader dd a{color:#336699; text-decoration:none;}
.friendHeader .place1{background-position:20px -70px;}
.friendTab{width:700px; margin:0px auto; height:30px; padding-top:25px; overflow:hidden; background:url(../images/icon-10.jpg) 0px bottom repeat-x; clear:both;}
.friendTab li{float:left; width:98px; margin-right:2px; display:inline; height:30px; overflow:hidden; background:url(../images/icon-02.gif) no-repeat; text-align:center; cursor:pointer; line-height:30px;}
.friendTab .empty{background-position:0px 0px;}
.friendTab .line{background-position:-100px 0px;}
.friendTab .grayLine{background-position:-199px 0px;}
.friendTab .addGroupLink{float:right; background:none;}
.friendTab .addGroupLink a{color:#336699; text-decoration:none;}
.friendType{width:152px; padding:2px 30px 0px 30px; float:left;}
.searchInput{width:130px; background:url(../images/icon-05.jpg) -2px -34px no-repeat; height:23px; line-height:23px;border:1px #dfdfdf solid; color:#8c8c8c; padding-left:20px;}
.friendTypeHeader{background:#f5f5f5 url(../images/icon-03.gif) 0px 0px no-repeat; height:25px; overflow:hidden;}
.friendTypeHeader li{padding-left:20px; line-height:26px;}
.friendTypeHeader li span{float:right; padding-right:10px;}
.friendCatalog li{height:30px; line-height:35px; border-bottom:1px #d9dce2 solid;color:#737373; text-align:right; padding-right:10px; padding-left:20px; overflow:hidden;}
.friendCatalog li a{text-decoration:none; color:#336699; float:left;}
.friendCatalog .addGroupBtn{padding:15px 0px 15px 0px; border-bottom:0px;} 
.friendCatalog .addGroupBtn input{height:25px; width:80px; text-align:center; line-height:23px;}
.friendList{float:left; width:515px; overflow:hidden; padding-top:2px;}
.friendList dl{height:75px; padding-top:20px; overflow:hidden; border-bottom:1px #d9dce2 solid;}
.friendList dt{float:left;}
.friendList dt img{float:left;}
.friendList dt a{color:#336699; text-decoration:none; float:left; padding:3px 0px 0px 10px;}
.friendList dd{float:right; padding:5px 40px 0px 0px; color:#afafaf; line-height:25px;}
.friendList dd a{ text-decoration:none; color:#afafaf;}
.friendList dd  .attribute{border-right:1px #d9dce2 dashed; padding-right:5px;}
.friendList dd .editGroup{border-right:1px #d9dce2 dashed; padding-right:15px; background:url(../images/icon-03.gif) 43px -58px no-repeat;}
.friendList dd .delete{background:url(../images/icon-03.gif) -5px -27px no-repeat;padding:5px; cursor:pointer;}
#page{padding:15px 0px 20px 0px; text-align:center;}
#page a{color:#8d8d8d; text-decoration:none; line-height:25px; padding:3px 5px; margin-right:3px; border:1px #dfdfdf solid;}
#page .solid{ background-color:#828282; color:#FFF;}
#link{width:1000px; margin:0px auto; border-top:1px #d9dce2 solid;overflow:hidden; padding-top:30px; color:#999999; text-align:right; line-height:25px;}
#link a{text-decoration:none;color:#336699; padding-right:15px; float:left;}
#copy{color:#999999; padding-top:30px; height:30px; overflow:hidden; background-color:#f0efef; text-align:center; width:1000px; margin:0px auto;}
#bottom{ width:1080px; margin:0px auto; padding-top:15px; height:25px; overflow:hidden; position:relative;}
#bottom ul{width:1000px; margin:0px auto;}
#bottom li{float:left; height:23px; border-bottom:1px #d9dce2 solid;border-top:1px #d9dce2 solid; background-color:#f3f3f3; overflow:hidden; line-height:25px;}
#bottom .first{background:url(../images/icon-03.gif) 12px -77px no-repeat; padding-left:10px; width:98px; text-align:center;border-right:1px #d9dce2 solid;border-left:1px #d9dce2 solid;}
#bottom .second{width:670px;}
#bottom .third{background:url(../images/icon-01.gif) 48px -178px no-repeat; width:218px; text-align:center; border:1px #b7b7b7 solid; overflow:hidden; }
#scroll{position:absolute; right:0px; bottom:5px; width:35px; height:35px;}

/*群组页面样式*/
.group{padding-left:30px; width:590px;}
.group p{padding:15px 0px 20px 0px;}
.group ul{background-color:#f7f7f7; width:100%; overflow:hidden; border:1px #dfdfdf solid; padding:10px; margin-bottom:30px;}
.group ul li{float:left;}
.group ul .group1{width:100px;}
.group ul h1{font-size:14px; color:#336699;}
.group ul .group2{color:#676767; line-height:20px;}
.group ul .group3{ float:right;}
.group ul .group3 a{text-decoration:none; color:#336699; border-bottom:1px #d9dce2 solid; padding:0px 10px; display:block; clear:both;}
.group hr{ border:0px;border-bottom:1px #d9dce2 dashed; width:610px; color:#d9dce2; height:1px; overflow:hidden;}
.clear10{clear:both; height:10px; overflow:hidden;}

/*公共首页样式*/
.publicLeft{width:142px; float:left; overflow:hidden;}
.pubLink{padding:5px 0px 0px 5px;border-bottom:1px #eeeeee solid;}
.pubLink a{padding-right:5px;}
.pubList{padding:10px 0px 10px 10px;}
.pubList dl{clear:both; width:100%; overflow:hidden; height:30px; overflow:hidden; line-height:30px;}
.pubList dl a{text-decoration:none;}
.pubList dl dt{float:left; width:70px; background:url(../images/icon-09.jpg) no-repeat; padding-left:26px;}
.pubList dl dt a{color:#000;}
.pubList dl dd a{color:#d8dfea;}
.pubList dl .icon01{background-position:0px 5px;}
.pubList dl .icon02{background-position:0px -28px;}
.pubList dl .icon03{background-position:0px -63px;}
.pubList dl .icon04{background-position:0px -94px;}
.pubTitle{ background-color:#f5f5f5;border-top:1px #ebebeb solid; width:100%; overflow:hidden; height:22px;}
.pubTitle dt{float:left; line-height:22px; color:#336699; font-weight:bold; padding-left:10px;}
.pubTitle dd{color:#d9dce2; float:right; line-height:22px; padding-right:10px; font-size:14px; font-weight:bold;}
.pubTitle dd a{color:#d9dce2; text-decoration:none;}
.pubType{padding:10px 0px 0px 10px; line-height:28px;}
.pubType a{text-decoration:none;color:#336699;}
.pubRight{float:right; width:836px; border:1px #d9dce2 solid;border-top:0px; overflow:hidden; padding-left:20px; padding-top:15px;}
.pubContent{width:550px; overflow:hidden; float:left;}
.notes{ clear:both;}
.notes li{float:left; padding-left:25px; background:url(../images/icon-01.gif) no-repeat; padding-right:20px;}
.notes li a{color:#336699; text-decoration:none; font-weight:bold;}
.notes .first{background-position:0px -218px;}
.notes .second{background-position:0px -258px;}
.notes .third{background-position:0px -308px;}
.import{clear:both; position:relative; padding-top:14px;}
.import .importArea{border:2px #a9b1c6 solid; width:546px; color:#000000; font-size:14px; line-height:25px; height:80px;}
.import .arrow{width:9px; height:6px; overflow:hidden; position:absolute; left:10px; top:10px;}
.import .lock{width:13px; height:13px; overflow:hidden; position:absolute; right:5px; top:0px;}
.record{color:#666666; padding:5px 0px 20px 5px;}
.record span{color:#6b7385; font-size:10px; font-style:italic; padding-left:10px;}
.dope{ border:1px #eeeeee solid; background-color:#fbfbfb; padding:10px 0px; overflow:hidden; width:548px;}
.dope dl{float:left; width:180px; height:25px; overflow:hidden;}
.dope dl dt{float:left; color:#333333; width:100px; text-align:right;}
.dope dl dd{color:#8692a2;}
.dope dl .red{color:#F00; text-decoration:underline;}
.publicTab{ height:30px; padding-top:25px; overflow:hidden; background:url(../images/icon-10.jpg) 0px bottom repeat-x; clear:both;}
.publicTab li{float:left; width:98px; margin-right:2px; display:inline; height:30px; overflow:hidden; background:url(../images/icon-02.gif) no-repeat; text-align:center; cursor:pointer; line-height:30px;}
.publicTab .empty{background-position:0px 0px;}
.publicTab .empty span{font-weight:bold;}
.publicTab .line{background-position:-100px 0px;}
.publicTab .grayLine{background-position:-199px 0px;}
.publicTab .addGroupLink{float:right; background:none; text-align:right;}
.publicTab .addGroupLink a{color:#d1d1d1; text-decoration:none; padding:0px 2px;}
.conUpdate{border:1px #e6edfb solid; background-color:#f4f7fd; color:#8793a1; text-align:center; padding:5px 0px;}
.conUpdate img{vertical-align:middle;}
.conUpdate a{color:#8793a1; text-decoration:none;}
.trendList{width:100%; clear:both; overflow:hidden; border-bottom:1px #d9dce2 solid; padding-top:30px; font-size:14px; color:#666666;}
.trendList dt{float:left; width:55px;}
.trendList dd{float:left; width:495px; overflow:hidden;}
.trendList a{ color:#336699; text-decoration:none;}
.trendList span{color:#999999;}
.trendList .lImages{float:left; padding-right:10px;}
.textRight{text-align:right; font-size:12px;}
.trendList .listBoth{clear:both;}
.trendList p{color:#999999; font-size:12px;}
.trendList .commentList{clear:both; font-size:12px;}
.trendList .commentList li{float:left; padding-right:10px;}
.trendList .commentList .flRight{float:right;}
.comment{font-size:12px; background-color:#f8f9fd; width:410px; overflow:hidden; padding:5px 0px; line-height:18px;}
.comment dl{border-bottom:1px #ffffff solid; width:100%; overflow:hidden; padding-bottom:3px;}
.comment dl dt{width:40px; float:left; padding-left:5px;}
.comment dl dd{float:left; width:365px; overflow:hidden;}
.comment dl dd span{color:#999999; font-size:10px;}
.comment .inputTalk{border:1px #d9dce2 solid; height:20px; width:360px; color:#a9a9a9;}
.friendMore{border:1px #d9dce2 solid; background-color:#f9f9f9; text-align:center; padding:5px 0px;}
.friendMore a{ color:#336699; text-decoration:none;}
.friendMore img{vertical-align:middle;}

.publicList{float:right; width:250px; padding-left:15px; overflow:hidden; padding-top:20px;}
.pubListTitle{height:23px; border-top:1px #ebebeb solid;border-bottom:1px #ebebeb solid; background-color:#f5f5f5; overflow:hidden; clear:both;}
.pubListTitle dt{float:left; font-weight:bold; font-size:12px; line-height:23px; padding-left:5px;}
.pubListTitle dt span{color:#a9b1c6; font-weight:normal; font-family:Arial;}
.pubListTitle dd{float:right;color:#d9dce2; line-height:23px; padding-right:7px; font-size:14px; font-weight:bold;}
.pubListTitle dd a{color:#d9dce2; text-decoration:none;}
.pubListTitle dd img{padding-right:1px;}
.visitor{padding-top:12px; clear:both; overflow:hidden; position:relative;}
.visitor li{float:left; width:62px; text-align:center; overflow:hidden; color:#999999;}
.visitor li a{color:#336699; text-decoration:none;}
.visitor .tips{position:absolute; color:#767676; background-color:#e2e4ef; border:1px #616263 solid; right:0px; top:0px; line-height:18px; padding:0px 5px;}
.friendRecommend{width:100%; clear:both; padding-top:12px;}
.friendRecommend dt{float:left; width:62px; text-align:center;}
.friendRecommend dd{float:left; line-height:18px; color:#999999;}
.friendRecommend dd a{text-decoration:none; color:#336699;}
.friendRecommend dd div{background:url(../images/icon-13.jpg) right -45px no-repeat; clear:both; padding-right:20px;}
.friendRecommend dd .add{background:url(../images/icon-13.jpg) 0px -1px no-repeat; padding-left:15px;}
#linkTopNone{width:1000px; margin:0px auto; overflow:hidden; padding-top:30px; color:#999999; text-align:right; line-height:25px;}
#linkTopNone a{text-decoration:none;color:#336699; padding-right:15px; float:left;}
/*问答页面样式*/
.questLeft{float:left; width:180px;}
.questRight{float:left; width:798px; border:1px #d9dce2 solid;border-top:0px; overflow:hidden; padding-left:20px; padding-top:15px;}
.headerImg{padding:20px 0px 25px 0px; clear:both; border-bottom:1px #eeeeee solid; overflow:hidden;}
.headerImg dt{ text-align:center;}
.headerImg dd{padding:0px 20px 0px 10px; text-align:right;}
.headerImg dd a{text-decoration:none; font-size:14px; color:#336699;font-family:"微软雅黑"; font-weight:bold;}
.answers{float:left; width:570px; overflow:hidden;}
.answersHeader{ width:100%; clear:both;height:40px; padding-top:15px; overflow:hidden; border-bottom:1px #d9dce2 solid;}
.answersHeader dt{background-position:20px -110px; font-size:14px; font-weight:bold; float:left; padding-left:55px; line-height:30px;}
.answersHeader dd{float:right; padding-right:20px; line-height:30px;}
.answersHeader dd a{color:#336699; text-decoration:none;}
.questState{width:100%; clear:both; padding-top:20px;}
.questState li{float:left; border-right:1px #999999 dashed; height:18px; overflow:hidden; padding:0px 15px; line-height:18px;}
.questState a{text-decoration:none; color:#336699;}
.questState .bold{font-weight:bold;}
.questState .borderRight{border-right:0px;}
.questList{clear:both; width:100%; overflow:hidden;border-bottom:1px #bababa dashed; padding-top:15px;}
.questList dt{float:left; width:50px; height:52px; border:1px #bababa solid; text-align:center; color:#999999;}
.questList dt p{display:block; background-color:#ededed; color:#ff6600; font-weight:bold; font-size:18px; font-family:Arial; padding:3px 0px;}
.questList dd{float:left; width:458px; padding-left:10px; color:#333333;}
.questList dd p{color:#F00;}
.questList dd p a{font-weight:bold; color:#336699; text-decoration:none; padding-left:20px;}
.questList ul{padding-top:15px; padding-bottom:10px;}
.questList ul li{float:left; padding-right:10px;}
.questList ul li span{background-color:#ededed; padding:3px 6px;}
.questList ul .last{float:right; color:#999999;}
.questList ul .last a{color:#336699; text-decoration:none;}
.questList ul .third{float:right;}
.expert{float:right; width:210px; overflow:hidden; padding-top:10px;}
.expertList{width:100%; overflow:hidden; padding-top:15px;}
.expertList dt{float:left; width:60px;}
.expertList dd{float:left; width:150px; color:#999999;}
.expertList dd span{text-decoration:underline; padding-right:10px;}
.expertList dd a{color:#336699; text-decoration:underline;}

/*个人主页页面样式*/
#homePage{width:1006px; margin:0px auto; overflow:hidden; background:#fdfdfd url(../images/icon-25.jpg) 0px 0px no-repeat;}
.personLeft{width:180px; padding-top:140px; float:left;}
.sendNews{width:100%; padding:15px 0px 0px 0px;}
.sendNews li{float:left; width:90px; text-align:center;} 
.sendNews li a{color:#336699; text-decoration:none;}
.personImage{text-align:center;}
.personContentHeader{float:left; width:804px; padding:185px 0px 0px 20px; overflow:hidden; height:75px;}
.personContent{ border:1px #d9dce2 solid;border-top:0px;float:left; width:804px; padding-left:20px;}
.pagehomeContent{ width:550px; float:left; overflow:hidden;}

.personTypeList{float:right; width:220px; padding-left:15px; overflow:hidden; padding-top:50px;}
.recentVisitor{padding-top:12px; clear:both; overflow:hidden; position:relative;}
.recentVisitor li{float:left; width:73px; text-align:center; overflow:hidden; color:#999999;}
.recentVisitor li a{color:#336699; text-decoration:none;}
.myProblem{padding:10px 0px 0px 0px; line-height:18px;}
.myProblem li{width:100%; clear:both; padding-top:5px;}
.myProblem .number{float:left; width:30px; text-align:center; color:#FFF; font-size:10px; font-family:Arial;height:20px;}
.myProblem .first{background:url(../images/icon-14.jpg) 8px 4px no-repeat;}
.myProblem li .imgs{float:left;width:70px; overflow:hidden;}
.myProblem li p{float:left;}
.myProblem li a{text-decoration:none; color:#336699;}
.myProblem .second{background:url(../images/icon-15.jpg) 8px 4px no-repeat;}
.myProblem .third{background:url(../images/icon-16.jpg) 8px 4px no-repeat;}
.myProblem .forth{background:url(../images/icon-17.jpg) 8px 4px no-repeat;}
.wordsList{width:100%; overflow:hidden; border-bottom:1px #d9dce2 solid; padding-top:15px;} 
.wordsList .first{width:60px; float:left; overflow:hidden;}
.wordsList .second{float:left; width:390px; overflow:hidden; color:#333333;}
.wordsList .second a{color:#336699; text-decoration:none;}
.wordsList .second span{color:#999999;}
.wordsList .third{float:right; color:#999999;}
.wordsList .second .reply{width:390px; border-top:1px #eaeaea dashed; overflow:hidden;}
.wordsList .second .reply ul{clear:both; width:100%;}
.wordsList .second .reply .first1{width:40px; float:left; overflow:hidden;}
.wordsList .second .reply .second1{float:left; width:220px; overflow:hidden; color:#333333;}
.wordsList .second .reply .third1{float:right; color:#999999;}
.replyCount{padding-top:15px; clear:both;}
.replyCount dt{float:left; color:#999999;}
.replyCount dd{float:right;}
.replyCount a{color:#336699; text-decoration:none;}

/*搜索表单样式*/
.searchForm dl{clear:both; overflow:hidden; padding-top:10px;}
.searchForm dt {color:#999999;font-weight:bold;width:100px;float:left}
.searchForm dd {color:#999999;width:388px;float:left}
.searchForm input {height:20px;line-height:20px;}
.searchForm .button {height:25px; width:80px; text-align:center; line-height:23px;}

/*消息样式*/
.message {color: red;font-weight: bold;padding-left:3px}

/*提交问题样式*/
#Question {width:1000px; margin:0px auto; overflow:hidden;}
#Question .quesList{background:url(../images/bird-06.jpg) right bottom no-repeat; padding:10px 0px 0px 0px;font-size:14px; padding-bottom:5px }
#Question .quesList p{color:#155aa4;font-size:18px;font-family:"微软雅黑"; line-height:50px; padding-left:50px;border-bottom:solid 1px;padding-right:10px;}
#Question .quesList dl{clear:both; overflow:hidden; padding-top:10px;}

#Question .quesList .textInputBig{ width:660px; height:31px; line-height:31px; border:solid 1px #999999;}
#Question .quesList .textInputSmall{width:105px; height:31px; line-height:31px; border:solid 1px #999999; float:left;}
#Question .quesList dd p{ width:120px; text-align:center; }
#Question .quesList dd p img{vertical-align:middle;}
#Question .quesList dd p a{font-size:12px; color:#165aa5; text-decoration:none;}
#Question .quesList select{padding:5px 0px;}
#Question .quesList span{ color:#7b7b7b; font-size:12px;}
#Question .quesList .btnSubmit{ cursor:pointer; font-size:18px;}

    .quesDetail {
        border: solid 1px #bab4b4;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 0px;
        width: 810px;
        height: 190px;
        overflow: auto;
    }

    .quesList {
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 0px;
        width: 810px;
        overflow: auto;
    }

    .tag {
        background-color: #c6e8e8;
        font-size: 18px;
        padding: 2px 2px 2px 2px;
        height: 25px;
        line-height: 25px;
    }

    .linkButton {
        font-weight: bold;
        font-size: 14px;
        float: left;
        text-decoration: none;
        line-height: 28px;
    }

.tabContainer {
    height: 950px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

*
{
   margin:auto;
   padding:0 0 0 0;
}

/* ---- mvc_pager ----  */
.mvc_pager
{
    float:left;
    width:100%;
    display:block;
    text-align: center;
    margin-top: 2px;
    font-family: Arial;
    vertical-align: middle;
    clear:both;
}
.mvc_pager a
{
    font-weight: bold;
    margin: 1px 3px;
    padding: 0.3em 0.5em 0.2em;
    text-align: center;
    border: #c00 1px solid;
    line-height: 25px;
}
.mvc_pager a:link, .mvc_pager a:visited, .pagenextpage a:visited
{
    font-weight: bold;
    margin: 1px 3px;
    padding: 0.3em 0.5em 0.2em;
    text-align: center;
    background: #f66;
    border: #c00 1px solid;
    color: #fff;
    line-height: 25px;
}
.mvc_pager a:hover
{
    font-weight: bold;
    margin: 1px 3px;
    padding: 0.3em 0.5em 0.2em;
    text-align: center;
    background: #f30;
    border: #c30 1px solid;
    color: #fff;
    line-height: 25px;
}
.thispagethis
{
    font-weight: bold;
    margin: 1px 3px;
    padding: 0.3em 0.5em 0.2em;
    text-align: center;
    background: #b00000;
    border: #c30 1px solid;
    color: #fff;
    line-height: 25px;
}
/* ------------ */